.new_user {
  width: 100%;
  max-width: 330px;
  padding: 100px 15px 15px 15px;
  margin: 0 auto;
  text-align: center;
}

.new_user .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
}

.new_user input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.new_user input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}